/* Basis-Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #d1d5db;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: sticky;
    top: 0;
}

.topbar a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    color: white;
    font-weight: bold;
}

.vision {
    background-color: #93c5fd;
}

.simulation {
    background-color: #1e40af;
}

.topbar a:hover {
    opacity: 0.8;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px; /* Abstand unterhalb des fixierten Headers */
    left: 0;
    width: 20%;
    height: calc(100vh - 60px); /* Höhe der Sidebar passend zum Viewport minus Headerhöhe */
    background-color: #3b82f6;
    color: whitesmoke;
    overflow-y: auto; /* Scrollen nur in vertikaler Richtung erlauben */
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.sidebar ul ul {
    padding-left: 20px; /* Einrückung der Unterpunkte */
    list-style-type: disc; /* Optional: Ändert den Listentyp der Unterpunkte */
    color: #3e3d3d;
}

.sidebar a {
    display: block;
    margin-top: 70px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar ul {
    list-style-type: none; /* Entfernt die Punkte */
    padding: 0;            /* Entfernt den inneren Abstand */
    margin: 0;             /* Entfernt den äußeren Abstand */
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main Content */
.main-content {
    background-color: #3b82f6;
    display: flex;
    padding: 20px;
    margin-top: 70px;
    margin-left: 23%;
}

/* Chat-Nachrichten Container */
.chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.chat-message {
    display: flex;
    align-items: top;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-message img {
    border-radius: 50%;
    margin-right: 10px;
    height: 20px;
}

.chat-message .user-name {
    font-weight: bold;
    margin-right: 10px;
}

.chat-message p {
    margin: 0;
}

/* Sidebar auf kleinen Bildschirmen */
@media (max-width: 768px) {
    .sidebar {
        margin-top: calc(10px + 1rem); /* 60px Grundhöhe des Headers + 1rem für möglichen zusätzlichen Inhalt */
        width: 25%;
        padding: 5px;
    }

    .mobile-warning {
        display: block;
        background-color: #ffcc00;
        color: #000;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    /* Main Content */
    .main-content {
        background-color: #3b82f6;
        display: flex;
        padding: 20px;
        top: calc(85px + 1rem); /* Abstand entsprechend der Höhe des Headers */
        margin-left: 27%;
        margin-bottom: 40px;
    }
}

/* Bilder */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
